In [13]:
import numpy as np
print("meep")

meep

In [1]:
import pandas as pd
print("meep")

meep

In [3]:
school_data_to_load = "../Resources/schools_complete.csv"
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
bob = school_data_df.set_index(["school_name"])[["type", "size", "budget"]]
bob.index.name = None
bob

                           type  size   budget
Huang High School      District  2917  1910635
Figueroa High School   District  2949  1884411
Shelton High School     Charter  1761  1056600
Hernandez High School  District  4635  3022020
Griffin High School     Charter  1468   917500
Wilson High School      Charter  2283  1319574
Cabrera High School     Charter  1858  1081356
Bailey High School     District  4976  3124928
Holden High School      Charter   427   248087
Pena High School        Charter   962   585858
Wright High School      Charter  1800  1049400
Rodriguez High School  District  3999  2547363
Johnson High School    District  4761  3094650
Ford High School       District  2739  1763916
Thomas High School      Charter  1635  1043130

In [21]:
bob.loc[(bob["size"] < 2000) & (bob["budget"] > 17), "budget"] = np.nan

In [19]:
bob.loc[(bob["size"] < 2000)].count()["type"]

2

In [24]:
bob[bob["budget"] <= 18].count()

type      2
size      2
budget    2
dtype: int64

In [25]:
bob

                           type  size     budget
Huang High School      District  2917  1910635.0
Figueroa High School   District  2949  1884411.0
Shelton High School         NaN  1761        NaN
Hernandez High School  District  4635  3022020.0
Griffin High School         NaN  1468        NaN
Wilson High School      Charter  2283  1319574.0
Cabrera High School         NaN  1858        NaN
Bailey High School     District  4976  3124928.0
Holden High School       locked    17       17.0
Pena High School         locked    17       17.0
Wright High School          NaN  1800        NaN
Rodriguez High School  District  3999  2547363.0
Johnson High School    District  4761  3094650.0
Ford High School       District  2739  1763916.0
Thomas High School          NaN  1635        NaN

In [ ]:
school_data_df["per_cap"] = school_data_df["budget"] / school_data_df["size"]
school_data_df

In [ ]:
spending_bins = [0, 585, 615, 645, 675]

In [ ]:
school_data_df["per_cap"]

In [ ]:
joe = pd.cut(school_data_df["per_cap"], spending_bins)
type(joe)

In [ ]:
school_data_df["per_cap_bin"] = joe
school_data_df

In [ ]:
school_data_df.groupby("per_cap_bin").count()

In [ ]:
type(585858/962)

In [ ]:
colnam = "budget"
colform = "${:,.2f}"

In [ ]:
school_data_df[colnam] = school_data_df[colnam].map(colform.format)
school_data_df

In [ ]:
school_data_df.dtypes

In [ ]:
"wm_"+'math_score'

In [26]:
cat = [True, False, np.nan]

In [28]:
catt = pd.DataFrame(cat)

In [29]:
catt

       0
0   True
1  False
2    NaN

In [30]:
catt.mean()

0    0.5
dtype: float64